# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://root:root@localhost:5432/sample_development?schema=public"

NEXTAUTH_URL=http://localhost:3000
# https://next-auth.js.org/errors#jwt_session_error
# npm install -g node-jose-tools && jose newkey -s 512 -t oct -a HS512
NEXTAUTH_SECRET='{"kty":"oct","kid":"EVHW85W4xBBCHGg-26uwdM3p8SWXr0Y51lAXNzlTljQ","alg":"HS512","k":"a_5mqTSmXQoWYcBajU1Uw9cGCDabtA6zPEqf1JttvuN8mYIDydNnQgXS3usVmxsDUL9NQuu1FDLb61vfVdXdAg"}'

DEBUG="prisma*"
